<div class="h-top">
  <div class="inner clear">
    <div class="bx-left">
      <a href="#">
        <span class="symbol">
          <em class="hidden-txt">마이스 플랫폼</em>
        </span>
      </a>
    </div>
    <ul class="bx-right">
      <li>
        <a href="" class="sign-up">JOIN </a>
      </li>
      <li>
        <a href="" class="sign-in">LOG IN </a>
      </li>
    </ul>
  </div>
</div>
<div class="h-body">
  <div class="inner clear">
    <div class="bx-left">
      <a href="#">
        <span class="symbol">
          <em class="hidden-txt">마이스 나이스</em>
        </span>
      </a>
    </div>
    <ul class="bx-right pc-only-1024">
      <li>
        <a href="#" class="txt-scd-r"><b class="txt-scd-h">n</b>otice</a>
      </li>
      <li>
        <a href="#" class="txt-scd-r"><b class="txt-scd-h">i</b>nformation</a>
      </li>
      <li>
        <a href="#" class="txt-scd-r"><b class="txt-scd-h">c</b>ommunication</a>
      </li>
      <li>
        <a href="#" class="txt-scd-r"><b class="txt-scd-h">e</b>mployment</a>
      </li>
    </ul>
    <div class="bx-right mob-only-1024">
      <button type="button" class="btn-mob-menuOpen">
        <em class="hidden-txt">전체 메뉴</em>
        <i></i><i></i><i></i>
      </button>
      <div class="mob-menu-wrap">
        <div class="inner">
          <h4 class="members">
            <span class="img-thumb">
              <em class="hidden-txt">프로필 이미지</em>
            </span>
            <span>
              <strong>홍길동님 안녕하세요!</strong><br />
              hong2023@pcninc.co.kr
            </span>
          </h4>
          <div class="btn-wrap half">
            <button type="button" class="btn-member mice">
              <em class="hidden-txt">MICE Platform</em>
            </button>
            <button type="button" class="btn-member sign-out">
              <em>로그아웃</em>
            </button>
          </div>
          <ul class="depth1">
            <li>
              <a href="#"><b>n</b>otice</a>
            </li>
            <li>
              <a href="#"><b>i</b>nformation</a>
            </li>
            <li>
              <a href="#"><b>c</b>ommunication</a>
            </li>
            <li class="on">
              <a href="#"><b>e</b>mployment</a>
              <ul class="depth2">
                <li><a href="">채용정보</a></li>
                <li><a href="">인재정보</a></li>
                <li><a href="">MICE PRO 인재 신청</a></li>
                <li><a href="">TOP인재</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
