<div class="modal animate fast zoomOut" id="modal-partnersInfo">
  <div class="modal-header flex-wrap edge">
    <h4>
      <span>기업정보</span>
    </h4>
    <button type="button" class="button-close-modal btn-close">
      <em class="hidden-txt">레이어팝업 닫기</em>
    </button>
  </div>
  <div class="modal-body customedScroll">
    <div class="top grid-wrap col-2">
      <div class="symbol">
        <img src="../assets/images/sample/partners-list-thumb-01.jpg" alt="협력업체 로고" />
      </div>
      <div class="info">
        <dl>
          <dt><strong>㈜메씨인터내셔날 (MECI)</strong></dt>
          <dd>
            <ul class="dot-list">
              <li class="flex-wrap"><b>대표이사</b><em>김분희</em></li>
              <li class="flex-wrap"><b>전화번호</b><em>02-6288-6300</em></li>
              <li class="flex-wrap">
                <b>홈페이지</b>
                <em><a href="http://www.meci.co.kr" target="_blank">www.meci.co.kr</a></em>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class="modal-contents">
      <h5>주요 업무</h5>
      <div class="txt-info">
        <div>음향, 카메라, 네트워크</div>
      </div>
      <h5><a href="" class="flex-wrap edge dropDown2">소개</a></h5>
      <div class="txt-info clip">
        <div class="txt-line-clamp2">
          국립한글박물관은 우리 민족 최고의 문화유산인 한글의 문자적 · 문화적 가치를 창출하고 널리 알리기 위해 2014년 10월 9일
          문을 열었습니다. 소개글은 최대 2줄까지 노출됩니다.<br />
          국립한글박물관은 우리 민족 최고의 문화유산인 한글의 문자적 · 문화적 가치를 창출하고 널리 알리기 위해 2014년 10월 9일
          문을 열었습니다. 소개글은 최대 2줄까지 노출됩니다.<br />
          국립한글박물관은 우리 민족 최고의 문화유산인 한글의 문자적 · 문화적 가치를 창출하고 널리 알리기 위해 2014년 10월 9일
          문을 열었습니다. 소개글은 최대 2줄까지 노출됩니다.<br />
          국립한글박물관은 우리 민족 최고의 문화유산인 한글의 문자적 · 문화적 가치를 창출하고 널리 알리기 위해 2014년 10월 9일
          문을 열었습니다. 소개글은 최대 2줄까지 노출됩니다.<br />
          국립한글박물관은 우리 민족 최고의 문화유산인 한글의 문자적 · 문화적 가치를 창출하고 널리 알리기 위해 2014년 10월 9일
          문을 열었습니다. 소개글은 최대 2줄까지 노출됩니다.<br />
        </div>
      </div>
      <h5><a href="" class="flex-wrap edge dropDown2">포트폴리오</a></h5>
      <div class="txt-info clip">
        <div class="txt-line-clamp2">
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.<br />
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.<br />
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.<br />
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.<br />
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.<br />
          1. 세종탄신일(5.15.), 한글날(10.9.) 기념 행사<br />
          - 포트폴리오글은 최대 2줄까지 노출됩니다.
        </div>
      </div>
      <h5>문의하기</h5>
      <div class="txt-info">
        <div>
          <dl>
            <dt><a href="" class="flex-wrap edge dropDown2">개인정보 수집 및 이용동의</a></dt>
            <dd class="hidden">
              <div>
                <ul>
                  <li>- 수집항목 : 성명, 전화번호, 이메일</li>
                  <li>- 수집목적 : 회원사 문의 시 연락 정보 공유</li>
                  <li>- 보유 및 이용기간 : 정보주체가 한국MICE협회가 제공하는 서비스를 이용하는 기간 동안</li>
                  <li>- 신청인은 개인정보보호법에 따라 동의를 거부할 수 있으며, 이 경우 서비스 이용에 제약이 있습니다.</li>
                </ul>
                <div class="chk-wrap align-r">
                  <span>
                    <input type="checkbox" id="privacyCheck" />
                    <label for="privacyCheck"><em>개인정보 수집 및 이용에 동의합니다.</em></label>
                  </span>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt><a href="" class="flex-wrap edge dropDown2">개인정보 제 3자 제공 동의 항목</a></dt>
            <dd class="hidden">
              <div>
                <ul>
                  <li>- 개인정보를 제공받는 자 : 문의 대상 회원사</li>
                  <li>- 제공항목 : 성명, 소속, 직함, 부서, 전화번호, 이메일</li>
                  <li>- 개인정보를 제공받는 자의 개인정보 이용목적 : 문의사항에 대한 답변 및 연락</li>
                  <li>
                    - 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 : 수집일로부터 개인정보 수집 및 이용 목적 달성시 까지
                    신청인은 개인정보보호법에 따라 동의를 거부할 수 있으며, 이 경우 서비스 이용에 제약이 있습니다.
                  </li>
                </ul>
                <div class="chk-wrap align-r">
                  <span>
                    <input type="checkbox" id="privacyCheck2" />
                    <label for="privacyCheck2"><em>개인정보 수집 및 이용에 동의합니다.</em></label>
                  </span>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="txt-write">
        <dl>
          <dt>
            이름<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap col-2 gap-none">
            <div class="text-wrap">
              <input type="text" />
            </div>
          </dd>
        </dl>
        <dl>
          <dt>
            소속<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap col-2 gap-none">
            <div class="text-wrap">
              <input type="text" />
            </div>
          </dd>
        </dl>
        <dl>
          <dt>
            직함<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap col-2 gap-none">
            <div class="text-wrap">
              <input type="text" />
            </div>
          </dd>
        </dl>
        <dl>
          <dt>
            부서<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap col-2 gap-none">
            <div class="text-wrap">
              <input type="text" />
            </div>
          </dd>
        </dl>
        <dl>
          <dt>
            전화번호<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap gap-none tel">
            <span class="text-wrap"> <input type="text" / title="전화번호 맨 앞 번호"> </span>
            <span>-</span>
            <span class="text-wrap"> <input type="text" / title="전화번호 중간 번호"> </span>
            <span>-</span>
            <span class="text-wrap"> <input type="text" / title="전화번호 마지막 번호"> </span>
          </dd>
        </dl>
        <dl>
          <dt>
            이메일<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd class="grid-wrap gap-none email">
            <span class="text-wrap"> <input type="text" / title="이메일 아이디"> </span>
            <span>@</span>
            <span class="text-wrap"> <input type="text" / title="이메일"> </span>
            <span>&nbsp;</span>
            <span class="select-wrap">
              <select name="" id="">
                <option value="" class="default" selected>직접입력</option>
              </select>
            </span>
          </dd>
        </dl>
        <dl>
          <dt>
            부서<span class="est"><em class="hidden-txt">필수</em></span>
          </dt>
          <dd>
            <div class="text-wrap">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <div class="btn-wrap align-c">
      <button type="button" class="btn-view md2 border rounded txt-color blueGray button-close-modal">
        <em>목록</em>
      </button>
      <button type="button" class="btn-view md2 border rounded bg-blueGray">
        <em>완료</em>
      </button>
    </div>
  </div>
</div>
