/**
 * ==============================+
 * form style
 * ==============================+
 */

/*button*/
[class*='btn-wrap'] {
  width: 100%;
  text-align: left;
  font-size: 0;

  &.inline {
    width: auto;
    display: inline-block;
  }

  &.half {
    button {
      width: -webkit-calc((100% - 10px) / 2) !important;
      width: -moz-calc((100% - 10px) / 2) !important;
      width: calc((100% - 10px) / 2) !important;

      @include _bp(480px) {
        width: 100% !important;

        & + button {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

button {
  background-color: transparent;

  &[class*='btn-'] {
    display: inline-block;
    min-width: 110px;
    height: 38px;
    padding: 0;
    border: none;
    font-size: 0;
    position: relative;

    @include _bp(821px) {
      min-width: auto;
      padding: 0 12px;
    }

    & + button {
      margin-left: 10px;
    }

    &.wide {
      width: 100%;
    }

    &.lg {
      min-width: 140px;
      height: 50px;

      em {
        font-weight: 600;
      }
    }

    &.md {
      min-width: 130px;

      @include _bp(821px) {
        min-width: 90px;
      }
    }

    &.sm {
      min-width: 80px;
      height: 45px;

      @include _bp(821px) {
        height: 38px;
      }
    }

    &.rounded {
      border-radius: 30px;
    }

    &.border {
      border-width: 1px;
      border-style: solid;
      border-color: currentColor;
      color: $white;
    }

    /* background color */
    &.bg-blueGray {
      background-color: $blueGray;
      color: $white;
    }
    &.bg-navy2 {
      background-color: $navy2;
      color: $white;
    }
    &.bg-gray6 {
      background-color: $gray6;
      color: $white;
    }

    em {
      display: inline-block;
      line-height: 1;
      position: relative;
      font-size: 1.8rem;
      font-weight: 400;

      * {
        vertical-align: middle;
      }
    }
  }

  &.btn- {
    &prev,
    &next {
      border-radius: 30px;
      border: 2px solid $gray4;
      min-width: 80px;
      padding: 0;
      background-color: transparent;
      background-color: $white;

      em {
        font-weight: 600;
        font-size: 16px;
      }

      & + span {
        display: inline-block;
        margin: 0 20px;
        font-size: 15px;

        * {
          vertical-align: bottom;
        }

        b {
          font-size: 16px;
        }
      }
    }
  }
}

/*select*/
.select-wrap {
  position: relative;
  display: inline-block;
  width: auto;
  height: 38px;
  border: none;
  vertical-align: top;
  font-size: 0;

  label {
    position: absolute;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);

    &::after {
      position: absolute;
      display: inline-block;
      @include icon;
      @include icon-view-next-gr;
      right: 10px;
      top: 50%;
      @include transform(translateY(-50%));
      content: '';

      @include _bp(821px) {
        @include icon--retina;
        @include icon--retina-view-next-gr-2x;
      }
    }
  }

  select {
    position: relative;
    display: inline-block;
    min-width: 180px;
    width: 100%;
    padding: 0 30px 0 10px;
    line-height: 38px;
    height: 38px;
    border: 1px solid #ccc;
    color: $gray;
    z-index: 10;
    font-size: 1.6rem;

    &::-ms-expand {
      display: none;
    }

    @include _bp(821px) {
      min-width: 120px;
    }
  }
}

/*text*/
.text-wrap {
  width: 100%;
  display: inline-block;
  font-size: 0;

  &.line {
    input[type='text'] {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $gray;
      padding: 0;
      background-color: transparent;
    }
  }

  input[type='text'] {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    font-size: 1.6rem;
    color: $gray;
    background-color: $white;
    border-radius: 0;
    box-shadow: none;
    height: 38px;
    border: 1px solid #ccc;

    &.calendar {
      padding-right: 42px;

      & + img {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }

  &.has-button {
    input[type='text'] {
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      width: calc(100% - 140px);

      @include _bp(821px) {
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);
      }

      @include _bp(561px) {
        width: 100%;
      }

      & + .btn-wrap {
        margin-left: 10px;

        @include _bp(561px) {
          width: 100% !important;
          position: absolute;
          left: 0;
          bottom: 0;
          margin-left: 0;

          button {
            width: 100%;
          }
        }
      }
    }

    &.double {
      input[type='text'] {
        width: -webkit-calc(100% - 280px);
        width: -moz-calc(100% - 280px);
        width: calc(100% - 280px);

        @include _bp(821px) {
          width: -webkit-calc(100% - 200px);
          width: -moz-calc(100% - 200px);
          width: calc(100% - 200px);
        }

        @include _bp(561px) {
          width: 100%;

          & + .btn-wrap {
            button {
              width: 49% !important;

              & + button {
                margin-left: 2% !important;
              }
            }
          }
        }
      }
    }
  }
}

.double {
  font-size: 0;

  .text-wrap {
    width: -webkit-calc((100% - 30px) / 2);
    width: -moz-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);

    & + .text-wrap {
      margin-left: 30px;

      &::before {
        position: absolute;
        top: 0;
        left: -30px;
        width: 30px;
        line-height: 38px;
        color: $black;
        font-size: 1.7rem;
        text-align: center;
        content: '~';
      }
    }
  }
}

/*radio*/
.radio-wrap {
  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 20px;
      height: 20px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 30px;
        height: 20px;
        vertical-align: top;
        line-height: 1.2;

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          border: 1px solid $mint;
          border-radius: 50%;
          background-color: $white;
          content: '';

          @include _bp(561px) {
            top: -2px;
          }
        }

        &::before {
          position: absolute;
          left: 5px;
          top: 5px;
          width: 10px;
          height: 10px;
          border: none;
          border-radius: 50%;
          background-color: $mint;
          z-index: 10;

          @include _bp(561px) {
            top: 3px;
          }
        }

        em {
          display: inline-block;
          line-height: 1;
          font-size: 1.7rem;
        }
      }

      &:focus + label {
        outline: 1px dashed $navy;
        outline-offset: 1px;
      }

      &:checked + label:before {
        content: '';
      }
    }

    & + span {
      margin-left: 20px;
    }
  }

  &[class*='col-'] span input[type='radio'] + label {
    height: auto;
  }
}

/*checkbox*/
.chk-wrap {
  &.inline {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 31px;
      height: 31px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 31px;
        height: 31px;
        vertical-align: top;
        line-height: 31px;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 31px;
          height: 31px;
          border: 1px solid $mint;
          border-radius: 5px;
          background-color: $white;
          content: '';
        }

        &::after {
          position: absolute;
          left: 8px;
          top: 10px;
          width: 15px;
          height: 11px;
          background-image: url('../images/icon-set-utlity.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          content: '';
        }

        em {
          display: inline-block;
          padding-left: 10px;
          line-height: 1;
          text-align: left;
          font-size: 1.7rem;
        }
      }

      &:focus + label {
        outline: 1px dashed $navy;
        outline-offset: 1px;
      }

      &:checked + label:after {
        background-position: 0 -16px;
      }
    }
    & + span {
      margin-left: 20px;
    }
  }

  [class*='col-'] span input[type='checkbox'] + label {
    height: auto;
  }
}

.chk-wrap-type02 {
  text-align: center;

  * {
    @include transition(none !important);
  }

  &.auto {
    span {
      input[type='checkbox'] {
        & + label {
          min-width: auto;
        }
      }
    }
  }

  span {
    display: inline-block;
    position: relative;
    height: 48px;
    font-size: 0;
    margin: 5px 10px;
    border: 1px solid $navy;
    border-radius: 30px;

    @include _bp(821px) {
      height: 38px;
    }

    @include _bp(561px) {
      margin: 3px;
      height: 32px;
    }

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;

      & + label {
        display: inline-block;
        width: auto;
        height: 100%;
        min-width: 120px;
        text-align: center;
        vertical-align: top;
        line-height: 46px;
        padding: 0 15px;
        color: $navy;
        background-color: $white;
        overflow: hidden;
        position: relative;
        border-radius: 30px;

        @include _bp(821px) {
          min-width: auto;
          line-height: 36px;
        }

        @include _bp(561px) {
          padding: 0 10px;
          line-height: 30px;
        }

        em {
          display: inline-block;
          line-height: 1;
          font-size: 1.8rem;
          position: relative;
          font-weight: 500;
          vertical-align: middle;
          z-index: 1;

          @include _bp(561px) {
            font-size: 1.6rem;
          }
        }
      }

      &:focus + label {
        outline: 1px dashed $navy;
        outline-offset: 1px;
        box-shadow: 0px 0px 6px 2px rgba(35, 192, 255, 0.4);
      }

      &:checked + label {
        color: $white;
        background-color: $navy;
      }
    }
  }

  &.hashTag {
    span {
      label {
        em {
          &::before {
            margin-right: 7px;
            content: '#';
          }
        }
      }
    }
  }
}

/*file*/
.file-attach {
  font-size: 0;

  .text-wrap {
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: calc(100% - 160px);

    @include _bp(561px) {
      width: -webkit-calc(100% - 100px);
      width: -moz-calc(100% - 100px);
      width: calc(100% - 100px);
    }
  }
}

.file-wrap {
  display: inline-block;
  width: 130px;
  height: 38px;
  line-height: 38px;
  margin-left: 30px;
  overflow: hidden;
  position: relative;

  @include _bp(561px) {
    width: 90px;
    margin-left: 10px;
  }

  label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
    background-color: $skyblue;

    em {
      display: inline-block;
      position: relative;
      color: $white;
      font-size: 1.7rem;
      line-height: 1;
      // top: -2px;
    }
  }
}

.file-attach-image {
  width: 417px;
  height: 234px;
  border: 1px solid $gray;
  float: left;
  overflow: hidden;
  position: relative;

  & + .file-attach {
    display: inline-block;
    width: -webkit-calc(100% - 440px);
    width: -moz-calc(100% - 440px);
    width: calc(100% - 440px);
    margin-left: 20px;
    vertical-align: top;

    & + .etc {
      display: inline-block;
      width: -webkit-calc(100% - 440px);
      width: -moz-calc(100% - 440px);
      width: calc(100% - 440px);
      margin-top: 50px;
      margin-left: 20px;

      .info-txt {
        &:first-of-type {
          margin-top: 0 !important;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

/*paging*/
.paging {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 60px;

  * {
    display: inline-block;
  }

  a,
  span {
    position: relative;
    font-size: 1.6rem;
    margin: 0 5px;
    width: 34px;
    height: 34px;
    line-height: 32px;
  }

  span {
    color: $white;
    background-color: $blueGray;
  }

  a {
    color: $blueGray;

    &.first,
    &.prev,
    &.next,
    &.last {
      margin: 0;
      border: 1px solid $blueGray;
      background-color: $white;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%));
        @include icon;
        margin-top: -6px;
        content: '';
      }
    }

    &.first {
      &::before {
        @include icon-pg-first;
      }

      &.disable {
        border-color: $gray4;

        &::before {
          @include icon-pg-first-gr;
        }
      }
    }

    &.prev {
      margin-right: 5px;
      left: -1px;

      &::before {
        @include icon-pg-prev;
      }

      &.disable {
        border-color: $gray4;

        &::before {
          @include icon-pg-prev-gr;
        }
      }
    }

    &.next {
      margin-left: 5px;
      right: -1px;

      &::before {
        @include icon-pg-next;
      }

      &.disable {
        border-color: $gray4;

        &::before {
          @include icon-pg-next-gr;
        }
      }
    }

    &.last {
      &::before {
        @include icon-pg-last;
      }

      &.disable {
        border-color: $gray4;

        &::before {
          @include icon-pg-last-gr;
        }
      }
    }
  }

  a:not(.first, .prev, .next, .last):hover,
  a:not(.first, .prev, .next, .last):focus,
  span {
    font-weight: 700;
    background-color: $blueGray;
    color: $white;
  }

  & + .btn-wrap {
    margin-top: 60px;
  }
}

/*table*/
[class*='tblStyle'] {
  border-top: 3px solid $navy;

  table {
    text-align: center;
    width: 100%;
    table-layout: fixed;

    thead th {
      border-color: 1px solid $navy;
      height: 80px;
    }

    th,
    td {
      padding: 0;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      color: $blueGray;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $gray4;
      background-color: $white;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;

      @include _bp(1024px) {
        font-size: 1.6rem;
      }
    }

    th {
      color: $navy;
      font-weight: 700;
    }

    td {
      padding: 30px 0;

      &.tit {
        padding: 30px;
        text-align: left;
        color: $navy;

        @include _bp(1024px) {
          padding: 10px;
        }

        * {
          display: inline-block;
        }

        b {
          width: 100%;

          a {
            @include ellipsis;
          }
        }
      }

      span {
        display: inline-block;
        line-height: 1;

        &.notice {
          &::before {
            @include icon;
            @include icon-lightBulb;
            content: '';
          }

          & + * {
            margin-left: 14px;
            width: -webkit-calc(100% - 40px);
            width: -moz-calc(100% - 40px);
            width: calc(100% - 40px);
          }
        }

        &.lock {
          &::before {
            @include icon;
            @include icon-lock;
            content: '';
          }

          & + * {
            margin-left: 25px;
            width: -webkit-calc(100% - 55px);
            width: -moz-calc(100% - 55px);
            width: calc(100% - 55px);

            @include _bp(1024px) {
              margin-left: 15px;
              width: -webkit-calc(100% - 45px);
              width: -moz-calc(100% - 45px);
              width: calc(100% - 45px);
            }
          }
        }

        &.status {
          width: 90%;
          max-width: 100px;
          padding: 10px 0;
          font-size: 1.6rem;
          color: $white;

          &.underReview,
          &.end {
            background-color: #444;
          }

          &.complete,
          &.hiringNow {
            background-color: $skyblue;
          }
        }
      }

      .name {
        font-size: 2rem;
        color: $navy;
      }
    }
  }

  ul {
    li {
      border-bottom: 1px solid $gray4;

      > a {
        display: block;
        padding: 30px 15px;
      }

      .tit {
        * {
          display: inline-block;
        }
      }

      .status {
        margin-bottom: 10px;

        span {
          &.underReview,
          &.end {
            padding: 6px 10px;
            font-size: 1.6rem;
            color: $white;
            background-color: #444;
          }

          &.complete,
          &.hiringNow {
            padding: 6px 10px;
            font-size: 1.6rem;
            color: $white;
            background-color: $skyblue;
          }
        }
      }

      b {
        @include ellipsis;
        max-width: 90%;
        line-height: 1;
        font-size: 1.6rem;
        color: $navy;
      }

      span {
        display: inline-block;
        line-height: 1;

        &.notice {
          &::before {
            @include icon--retina;
            @include icon--retina-lightBulb-2x;
            content: '';
          }
          & + * {
            margin-left: 7px;
          }
        }

        &.lock {
          &::before {
            @include icon--retina;
            @include icon--retina-lock;
            content: '';
          }
          & + * {
            margin-left: 5px;
          }
        }
      }

      dl {
        width: 100%;
        margin-top: 20px;
        font-size: 0;
        color: $blueGray;

        & + dl {
          margin-top: 7px;
        }

        dt,
        dd {
          display: inline-block;
          font-size: 1.6rem;
        }

        dt {
          font-weight: 700;

          &:not(:first-of-type) {
            padding-left: 20px;
            position: relative;

            &::before {
              position: absolute;
              width: 1px;
              height: 10px;
              background-color: $gray4;
              left: 10px;
              top: 50%;
              @include transform(translateY(-50%));
              content: '';
            }
          }
        }

        dd {
          margin-left: 5px;

          * {
            vertical-align: baseline;
          }

          & + dd {
            &::before {
              margin-right: 5px;
              content: '//';
            }
          }
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 50px;
  }
}

/*calendar custom*/
.ui-datepicker {
  min-width: 230px;
}
#ui-datepicker-div {
  z-index: 1010 !important;
}
.ui-widget.ui-widget-content {
  border-color: $navy;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl,
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-radius: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  border-radius: 50%;
}
.ui-datepicker table tbody {
  border-top: 1px solid $navy;
}
.ui-datepicker td {
  padding: 4px 2px;
  text-align: center;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-datepicker .ui-datepicker-header {
  padding: 0.4em 0;
}
.ui-widget-header {
  background-image: none;
  background-color: $navy;
  border-color: $navy;
  color: $white;
}
.ui-widget-content {
  background-image: none;
  background-color: $white;
  color: $navy;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-color: $navy;
  background-image: none;
  background-color: $white;
  color: $navy;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border-color: #111734;
  background-image: none;
  background-color: #111734;
  color: $white;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-image: none;
  background-color: $navy;
  color: $white;
}
.ui-widget-header .ui-icon,
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 6px !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background-image: none;
  background-color: $navy;
  border-color: $navy;
  color: $white;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  width: auto;
  height: auto;
  margin-left: -4px;
  margin-top: -6px;
  font-size: 0;
}
.ui-datepicker .ui-datepicker-prev span {
  border-width: 6px 8px 6px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: $white;
}
.ui-datepicker .ui-datepicker-next span {
  border-width: 6px 0 6px 8px;
  border-style: solid;
  border-color: transparent;
  border-left-color: $white;
}
