  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size:412px
  399px; } .icon {@include icon;} @mixin icon--retina { display: inline-block; background-image: url($sprite-url);
  background-repeat: no-repeat; background-size: calc(412px
  / 2) calc(399px
  / 2); }

  @mixin icon-arr-down-2x{ width:26px; height:18px; background-position:-386px
  -297px; } .icon-arr-down-2x{ @include icon-arr-down-2x; } @mixin icon--retina-arr-down-2x{ width:calc(26px
  / 2); height:calc(18px
  / 2); background-position: calc(-386px
  / 2) calc(-297px
  / 2); }
  @mixin icon-arr-down-wh{ width:24px; height:14px; background-position:-143px
  -341px; } .icon-arr-down-wh{ @include icon-arr-down-wh; } @mixin icon--retina-arr-down-wh{ width:calc(24px
  / 2); height:calc(14px
  / 2); background-position: calc(-143px
  / 2) calc(-341px
  / 2); }
  @mixin icon-arr-down{ width:13px; height:9px; background-position:-204px
  -278px; } .icon-arr-down{ @include icon-arr-down; } @mixin icon--retina-arr-down{ width:calc(13px
  / 2); height:calc(9px
  / 2); background-position: calc(-204px
  / 2) calc(-278px
  / 2); }
  @mixin icon-arr-left{ width:14px; height:22px; background-position:-362px
  -196px; } .icon-arr-left{ @include icon-arr-left; } @mixin icon--retina-arr-left{ width:calc(14px
  / 2); height:calc(22px
  / 2); background-position: calc(-362px
  / 2) calc(-196px
  / 2); }
  @mixin icon-arr-right-shadow{ width:19px; height:60px; background-position:-362px
  0px; } .icon-arr-right-shadow{ @include icon-arr-right-shadow; } @mixin icon--retina-arr-right-shadow{ width:calc(19px
  / 2); height:calc(60px
  / 2); background-position: calc(-362px
  / 2) calc(0px
  / 2); }
  @mixin icon-arr-right{ width:14px; height:22px; background-position:-362px
  -223px; } .icon-arr-right{ @include icon-arr-right; } @mixin icon--retina-arr-right{ width:calc(14px
  / 2); height:calc(22px
  / 2); background-position: calc(-362px
  / 2) calc(-223px
  / 2); }
  @mixin icon-arr-right2{ width:17px; height:26px; background-position:-386px
  -343px; } .icon-arr-right2{ @include icon-arr-right2; } @mixin icon--retina-arr-right2{ width:calc(17px
  / 2); height:calc(26px
  / 2); background-position: calc(-386px
  / 2) calc(-343px
  / 2); }
  @mixin icon-arr-up-2x{ width:26px; height:18px; background-position:-386px
  -320px; } .icon-arr-up-2x{ @include icon-arr-up-2x; } @mixin icon--retina-arr-up-2x{ width:calc(26px
  / 2); height:calc(18px
  / 2); background-position: calc(-386px
  / 2) calc(-320px
  / 2); }
  @mixin icon-arr-up{ width:13px; height:9px; background-position:-222px
  -278px; } .icon-arr-up{ @include icon-arr-up; } @mixin icon--retina-arr-up{ width:calc(13px
  / 2); height:calc(9px
  / 2); background-position: calc(-222px
  / 2) calc(-278px
  / 2); }
  @mixin icon-attachedFile-2x{ width:50px; height:50px; background-position:-65px
  -237px; } .icon-attachedFile-2x{ @include icon-attachedFile-2x; } @mixin icon--retina-attachedFile-2x{ width:calc(50px
  / 2); height:calc(50px
  / 2); background-position: calc(-65px
  / 2) calc(-237px
  / 2); }
  @mixin icon-attachedFile{ width:25px; height:25px; background-position:-386px
  -79px; } .icon-attachedFile{ @include icon-attachedFile; } @mixin icon--retina-attachedFile{ width:calc(25px
  / 2); height:calc(25px
  / 2); background-position: calc(-386px
  / 2) calc(-79px
  / 2); }
  @mixin icon-calendar-2x{ width:36px; height:36px; background-position:-120px
  -237px; } .icon-calendar-2x{ @include icon-calendar-2x; } @mixin icon--retina-calendar-2x{ width:calc(36px
  / 2); height:calc(36px
  / 2); background-position: calc(-120px
  / 2) calc(-237px
  / 2); }
  @mixin icon-calendar{ width:18px; height:18px; background-position:-362px
  -127px; } .icon-calendar{ @include icon-calendar; } @mixin icon--retina-calendar{ width:calc(18px
  / 2); height:calc(18px
  / 2); background-position: calc(-362px
  / 2) calc(-127px
  / 2); }
  @mixin icon-checked-2x{ width:24px; height:18px; background-position:-114px
  -341px; } .icon-checked-2x{ @include icon-checked-2x; } @mixin icon--retina-checked-2x{ width:calc(24px
  / 2); height:calc(18px
  / 2); background-position: calc(-114px
  / 2) calc(-341px
  / 2); }
  @mixin icon-checked{ width:12px; height:9px; background-position:-292px
  -146px; } .icon-checked{ @include icon-checked; } @mixin icon--retina-checked{ width:calc(12px
  / 2); height:calc(9px
  / 2); background-position: calc(-292px
  / 2) calc(-146px
  / 2); }
  @mixin icon-close-wh-2x{ width:30px; height:30px; background-position:-197px
  -302px; } .icon-close-wh-2x{ @include icon-close-wh-2x; } @mixin icon--retina-close-wh-2x{ width:calc(30px
  / 2); height:calc(30px
  / 2); background-position: calc(-197px
  / 2) calc(-302px
  / 2); }
  @mixin icon-close-wh{ width:15px; height:15px; background-position:-25px
  -379px; } .icon-close-wh{ @include icon-close-wh; } @mixin icon--retina-close-wh{ width:calc(15px
  / 2); height:calc(15px
  / 2); background-position: calc(-25px
  / 2) calc(-379px
  / 2); }
  @mixin icon-close-wh2{ width:20px; height:20px; background-position:0px
  -379px; } .icon-close-wh2{ @include icon-close-wh2; } @mixin icon--retina-close-wh2{ width:calc(20px
  / 2); height:calc(20px
  / 2); background-position: calc(0px
  / 2) calc(-379px
  / 2); }
  @mixin icon-facebook-2x{ width:68px; height:68px; background-position:-75px
  -87px; } .icon-facebook-2x{ @include icon-facebook-2x; } @mixin icon--retina-facebook-2x{ width:calc(68px
  / 2); height:calc(68px
  / 2); background-position: calc(-75px
  / 2) calc(-87px
  / 2); }
  @mixin icon-facebook{ width:34px; height:34px; background-position:-283px
  -237px; } .icon-facebook{ @include icon-facebook; } @mixin icon--retina-facebook{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(-283px
  / 2) calc(-237px
  / 2); }
  @mixin icon-home-2x{ width:36px; height:32px; background-position:-156px
  -302px; } .icon-home-2x{ @include icon-home-2x; } @mixin icon--retina-home-2x{ width:calc(36px
  / 2); height:calc(32px
  / 2); background-position: calc(-156px
  / 2) calc(-302px
  / 2); }
  @mixin icon-home{ width:18px; height:16px; background-position:-362px
  -250px; } .icon-home{ @include icon-home; } @mixin icon--retina-home{ width:calc(18px
  / 2); height:calc(16px
  / 2); background-position: calc(-362px
  / 2) calc(-250px
  / 2); }
  @mixin icon-kakaotalk-2x{ width:66px; height:66px; background-position:-73px
  -164px; } .icon-kakaotalk-2x{ @include icon-kakaotalk-2x; } @mixin icon--retina-kakaotalk-2x{ width:calc(66px
  / 2); height:calc(66px
  / 2); background-position: calc(-73px
  / 2) calc(-164px
  / 2); }
  @mixin icon-kakaotalk{ width:33px; height:33px; background-position:0px
  -341px; } .icon-kakaotalk{ @include icon-kakaotalk; } @mixin icon--retina-kakaotalk{ width:calc(33px
  / 2); height:calc(33px
  / 2); background-position: calc(0px
  / 2) calc(-341px
  / 2); }
  @mixin icon-lightBulb-2x{ width:26px; height:38px; background-position:-386px
  0px; } .icon-lightBulb-2x{ @include icon-lightBulb-2x; } @mixin icon--retina-lightBulb-2x{ width:calc(26px
  / 2); height:calc(38px
  / 2); background-position: calc(-386px
  / 2) calc(0px
  / 2); }
  @mixin icon-lightBulb{ width:21px; height:31px; background-position:-386px
  -43px; } .icon-lightBulb{ @include icon-lightBulb; } @mixin icon--retina-lightBulb{ width:calc(21px
  / 2); height:calc(31px
  / 2); background-position: calc(-386px
  / 2) calc(-43px
  / 2); }
  @mixin icon-like-sm-2x{ width:26px; height:24px; background-position:-386px
  -109px; } .icon-like-sm-2x{ @include icon-like-sm-2x; } @mixin icon--retina-like-sm-2x{ width:calc(26px
  / 2); height:calc(24px
  / 2); background-position: calc(-386px
  / 2) calc(-109px
  / 2); }
  @mixin icon-like-sm{ width:13px; height:12px; background-position:-274px
  -146px; } .icon-like-sm{ @include icon-like-sm; } @mixin icon--retina-like-sm{ width:calc(13px
  / 2); height:calc(12px
  / 2); background-position: calc(-274px
  / 2) calc(-146px
  / 2); }
  @mixin icon-like-type2--active-2x{ width:68px; height:68px; background-position:-148px
  -87px; } .icon-like-type2--active-2x{ @include icon-like-type2--active-2x; } @mixin icon--retina-like-type2--active-2x{ width:calc(68px
  / 2); height:calc(68px
  / 2); background-position: calc(-148px
  / 2) calc(-87px
  / 2); }
  @mixin icon-like-type2--active{ width:34px; height:34px; background-position:-322px
  -237px; } .icon-like-type2--active{ @include icon-like-type2--active; } @mixin icon--retina-like-type2--active{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(-322px
  / 2) calc(-237px
  / 2); }
  @mixin icon-like-type2-2x{ width:68px; height:68px; background-position:-236px
  0px; } .icon-like-type2-2x{ @include icon-like-type2-2x; } @mixin icon--retina-like-type2-2x{ width:calc(68px
  / 2); height:calc(68px
  / 2); background-position: calc(-236px
  / 2) calc(0px
  / 2); }
  @mixin icon-like-type2{ width:34px; height:34px; background-position:0px
  -302px; } .icon-like-type2{ @include icon-like-type2; } @mixin icon--retina-like-type2{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(0px
  / 2) calc(-302px
  / 2); }
  @mixin icon-like{ width:25px; height:22px; background-position:-386px
  -200px; } .icon-like{ @include icon-like; } @mixin icon--retina-like{ width:calc(25px
  / 2); height:calc(22px
  / 2); background-position: calc(-386px
  / 2) calc(-200px
  / 2); }
  @mixin icon-lock{ width:22px; height:26px; background-position:-386px
  -169px; } .icon-lock{ @include icon-lock; } @mixin icon--retina-lock{ width:calc(22px
  / 2); height:calc(26px
  / 2); background-position: calc(-386px
  / 2) calc(-169px
  / 2); }
  @mixin icon-mail-2x{ width:66px; height:66px; background-position:-144px
  -164px; } .icon-mail-2x{ @include icon-mail-2x; } @mixin icon--retina-mail-2x{ width:calc(66px
  / 2); height:calc(66px
  / 2); background-position: calc(-144px
  / 2) calc(-164px
  / 2); }
  @mixin icon-mail{ width:33px; height:33px; background-position:-38px
  -341px; } .icon-mail{ @include icon-mail; } @mixin icon--retina-mail{ width:calc(33px
  / 2); height:calc(33px
  / 2); background-position: calc(-38px
  / 2) calc(-341px
  / 2); }
  @mixin icon-member-2x{ width:36px; height:38px; background-position:-309px
  -176px; } .icon-member-2x{ @include icon-member-2x; } @mixin icon--retina-member-2x{ width:calc(36px
  / 2); height:calc(38px
  / 2); background-position: calc(-309px
  / 2) calc(-176px
  / 2); }
  @mixin icon-more-2x{ width:36px; height:36px; background-position:-161px
  -237px; } .icon-more-2x{ @include icon-more-2x; } @mixin icon--retina-more-2x{ width:calc(36px
  / 2); height:calc(36px
  / 2); background-position: calc(-161px
  / 2) calc(-237px
  / 2); }
  @mixin icon-more{ width:18px; height:18px; background-position:-362px
  -150px; } .icon-more{ @include icon-more; } @mixin icon--retina-more{ width:calc(18px
  / 2); height:calc(18px
  / 2); background-position: calc(-362px
  / 2) calc(-150px
  / 2); }
  @mixin icon-pause-2x{ width:48px; height:80px; background-position:-309px
  0px; } .icon-pause-2x{ @include icon-pause-2x; } @mixin icon--retina-pause-2x{ width:calc(48px
  / 2); height:calc(80px
  / 2); background-position: calc(-309px
  / 2) calc(0px
  / 2); }
  @mixin icon-pg-first-gr{ width:14px; height:13px; background-position:-309px
  -219px; } .icon-pg-first-gr{ @include icon-pg-first-gr; } @mixin icon--retina-pg-first-gr{ width:calc(14px
  / 2); height:calc(13px
  / 2); background-position: calc(-309px
  / 2) calc(-219px
  / 2); }
  @mixin icon-pg-first{ width:14px; height:13px; background-position:-328px
  -219px; } .icon-pg-first{ @include icon-pg-first; } @mixin icon--retina-pg-first{ width:calc(14px
  / 2); height:calc(13px
  / 2); background-position: calc(-328px
  / 2) calc(-219px
  / 2); }
  @mixin icon-pg-last-gr{ width:14px; height:13px; background-position:-236px
  -146px; } .icon-pg-last-gr{ @include icon-pg-last-gr; } @mixin icon--retina-pg-last-gr{ width:calc(14px
  / 2); height:calc(13px
  / 2); background-position: calc(-236px
  / 2) calc(-146px
  / 2); }
  @mixin icon-pg-last{ width:14px; height:13px; background-position:-255px
  -146px; } .icon-pg-last{ @include icon-pg-last; } @mixin icon--retina-pg-last{ width:calc(14px
  / 2); height:calc(13px
  / 2); background-position: calc(-255px
  / 2) calc(-146px
  / 2); }
  @mixin icon-pg-next-gr-2x{ width:16px; height:26px; background-position:-362px
  -65px; } .icon-pg-next-gr-2x{ @include icon-pg-next-gr-2x; } @mixin icon--retina-pg-next-gr-2x{ width:calc(16px
  / 2); height:calc(26px
  / 2); background-position: calc(-362px
  / 2) calc(-65px
  / 2); }
  @mixin icon-pg-next-gr{ width:8px; height:13px; background-position:-347px
  -219px; } .icon-pg-next-gr{ @include icon-pg-next-gr; } @mixin icon--retina-pg-next-gr{ width:calc(8px
  / 2); height:calc(13px
  / 2); background-position: calc(-347px
  / 2) calc(-219px
  / 2); }
  @mixin icon-pg-next{ width:8px; height:13px; background-position:-221px
  -87px; } .icon-pg-next{ @include icon-pg-next; } @mixin icon--retina-pg-next{ width:calc(8px
  / 2); height:calc(13px
  / 2); background-position: calc(-221px
  / 2) calc(-87px
  / 2); }
  @mixin icon-pg-prev-gr-2x{ width:16px; height:26px; background-position:-362px
  -96px; } .icon-pg-prev-gr-2x{ @include icon-pg-prev-gr-2x; } @mixin icon--retina-pg-prev-gr-2x{ width:calc(16px
  / 2); height:calc(26px
  / 2); background-position: calc(-362px
  / 2) calc(-96px
  / 2); }
  @mixin icon-pg-prev-gr{ width:8px; height:13px; background-position:-221px
  -105px; } .icon-pg-prev-gr{ @include icon-pg-prev-gr; } @mixin icon--retina-pg-prev-gr{ width:calc(8px
  / 2); height:calc(13px
  / 2); background-position: calc(-221px
  / 2) calc(-105px
  / 2); }
  @mixin icon-pg-prev{ width:8px; height:13px; background-position:-221px
  -123px; } .icon-pg-prev{ @include icon-pg-prev; } @mixin icon--retina-pg-prev{ width:calc(8px
  / 2); height:calc(13px
  / 2); background-position: calc(-221px
  / 2) calc(-123px
  / 2); }
  @mixin icon-play-2x{ width:82px; height:82px; background-position:0px
  0px; } .icon-play-2x{ @include icon-play-2x; } @mixin icon--retina-play-2x{ width:calc(82px
  / 2); height:calc(82px
  / 2); background-position: calc(0px
  / 2) calc(0px
  / 2); }
  @mixin icon-play-sm-2x{ width:24px; height:26px; background-position:-386px
  -138px; } .icon-play-sm-2x{ @include icon-play-sm-2x; } @mixin icon--retina-play-sm-2x{ width:calc(24px
  / 2); height:calc(26px
  / 2); background-position: calc(-386px
  / 2) calc(-138px
  / 2); }
  @mixin icon-play-sm{ width:12px; height:13px; background-position:-172px
  -341px; } .icon-play-sm{ @include icon-play-sm; } @mixin icon--retina-play-sm{ width:calc(12px
  / 2); height:calc(13px
  / 2); background-position: calc(-172px
  / 2) calc(-341px
  / 2); }
  @mixin icon-play{ width:41px; height:41px; background-position:-309px
  -85px; } .icon-play{ @include icon-play; } @mixin icon--retina-play{ width:calc(41px
  / 2); height:calc(41px
  / 2); background-position: calc(-309px
  / 2) calc(-85px
  / 2); }
  @mixin icon-pro-2x{ width:72px; height:72px; background-position:-159px
  0px; } .icon-pro-2x{ @include icon-pro-2x; } @mixin icon--retina-pro-2x{ width:calc(72px
  / 2); height:calc(72px
  / 2); background-position: calc(-159px
  / 2) calc(0px
  / 2); }
  @mixin icon-pro{ width:36px; height:36px; background-position:-202px
  -237px; } .icon-pro{ @include icon-pro; } @mixin icon--retina-pro{ width:calc(36px
  / 2); height:calc(36px
  / 2); background-position: calc(-202px
  / 2) calc(-237px
  / 2); }
  @mixin icon-scroll{ width:67px; height:81px; background-position:-87px
  0px; } .icon-scroll{ @include icon-scroll; } @mixin icon--retina-scroll{ width:calc(67px
  / 2); height:calc(81px
  / 2); background-position: calc(-87px
  / 2) calc(0px
  / 2); }
  @mixin icon-search-2x{ width:34px; height:34px; background-position:-39px
  -302px; } .icon-search-2x{ @include icon-search-2x; } @mixin icon--retina-search-2x{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(-39px
  / 2) calc(-302px
  / 2); }
  @mixin icon-search{ width:18px; height:18px; background-position:-362px
  -173px; } .icon-search{ @include icon-search; } @mixin icon--retina-search{ width:calc(18px
  / 2); height:calc(18px
  / 2); background-position: calc(-362px
  / 2) calc(-173px
  / 2); }
  @mixin icon-share-off-2x{ width:68px; height:68px; background-position:-236px
  -73px; } .icon-share-off-2x{ @include icon-share-off-2x; } @mixin icon--retina-share-off-2x{ width:calc(68px
  / 2); height:calc(68px
  / 2); background-position: calc(-236px
  / 2) calc(-73px
  / 2); }
  @mixin icon-share-off{ width:34px; height:34px; background-position:-78px
  -302px; } .icon-share-off{ @include icon-share-off; } @mixin icon--retina-share-off{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(-78px
  / 2) calc(-302px
  / 2); }
  @mixin icon-share-on-2x{ width:68px; height:68px; background-position:0px
  -164px; } .icon-share-on-2x{ @include icon-share-on-2x; } @mixin icon--retina-share-on-2x{ width:calc(68px
  / 2); height:calc(68px
  / 2); background-position: calc(0px
  / 2) calc(-164px
  / 2); }
  @mixin icon-share-on{ width:34px; height:34px; background-position:-117px
  -302px; } .icon-share-on{ @include icon-share-on; } @mixin icon--retina-share-on{ width:calc(34px
  / 2); height:calc(34px
  / 2); background-position: calc(-117px
  / 2) calc(-302px
  / 2); }
  @mixin icon-side-menu--off{ width:18px; height:30px; background-position:-386px
  -227px; } .icon-side-menu--off{ @include icon-side-menu--off; } @mixin icon--retina-side-menu--off{ width:calc(18px
  / 2); height:calc(30px
  / 2); background-position: calc(-386px
  / 2) calc(-227px
  / 2); }
  @mixin icon-side-menu--on{ width:18px; height:30px; background-position:-386px
  -262px; } .icon-side-menu--on{ @include icon-side-menu--on; } @mixin icon--retina-side-menu--on{ width:calc(18px
  / 2); height:calc(30px
  / 2); background-position: calc(-386px
  / 2) calc(-262px
  / 2); }
  @mixin icon-signIn-gr{ width:15px; height:16px; background-position:-362px
  -271px; } .icon-signIn-gr{ @include icon-signIn-gr; } @mixin icon--retina-signIn-gr{ width:calc(15px
  / 2); height:calc(16px
  / 2); background-position: calc(-362px
  / 2) calc(-271px
  / 2); }
  @mixin icon-signIn{ width:15px; height:16px; background-position:-286px
  -164px; } .icon-signIn{ @include icon-signIn; } @mixin icon--retina-signIn{ width:calc(15px
  / 2); height:calc(16px
  / 2); background-position: calc(-286px
  / 2) calc(-164px
  / 2); }
  @mixin icon-signOut-2x{ width:60px; height:60px; background-position:0px
  -237px; } .icon-signOut-2x{ @include icon-signOut-2x; } @mixin icon--retina-signOut-2x{ width:calc(60px
  / 2); height:calc(60px
  / 2); background-position: calc(0px
  / 2) calc(-237px
  / 2); }
  @mixin icon-signOut{ width:40px; height:40px; background-position:-309px
  -131px; } .icon-signOut{ @include icon-signOut; } @mixin icon--retina-signOut{ width:calc(40px
  / 2); height:calc(40px
  / 2); background-position: calc(-309px
  / 2) calc(-131px
  / 2); }
  @mixin icon-signUp-gr{ width:15px; height:16px; background-position:-286px
  -185px; } .icon-signUp-gr{ @include icon-signUp-gr; } @mixin icon--retina-signUp-gr{ width:calc(15px
  / 2); height:calc(16px
  / 2); background-position: calc(-286px
  / 2) calc(-185px
  / 2); }
  @mixin icon-signUp{ width:15px; height:16px; background-position:-286px
  -206px; } .icon-signUp{ @include icon-signUp; } @mixin icon--retina-signUp{ width:calc(15px
  / 2); height:calc(16px
  / 2); background-position: calc(-286px
  / 2) calc(-206px
  / 2); }
  @mixin icon-top-2x{ width:70px; height:72px; background-position:0px
  -87px; } .icon-top-2x{ @include icon-top-2x; } @mixin icon--retina-top-2x{ width:calc(70px
  / 2); height:calc(72px
  / 2); background-position: calc(0px
  / 2) calc(-87px
  / 2); }
  @mixin icon-top{ width:35px; height:36px; background-position:-243px
  -237px; } .icon-top{ @include icon-top; } @mixin icon--retina-top{ width:calc(35px
  / 2); height:calc(36px
  / 2); background-position: calc(-243px
  / 2) calc(-237px
  / 2); }
  @mixin icon-url-2x{ width:66px; height:66px; background-position:-215px
  -164px; } .icon-url-2x{ @include icon-url-2x; } @mixin icon--retina-url-2x{ width:calc(66px
  / 2); height:calc(66px
  / 2); background-position: calc(-215px
  / 2) calc(-164px
  / 2); }
  @mixin icon-url{ width:33px; height:33px; background-position:-76px
  -341px; } .icon-url{ @include icon-url; } @mixin icon--retina-url{ width:calc(33px
  / 2); height:calc(33px
  / 2); background-position: calc(-76px
  / 2) calc(-341px
  / 2); }
  @mixin icon-view-next-2x{ width:32px; height:18px; background-position:-232px
  -302px; } .icon-view-next-2x{ @include icon-view-next-2x; } @mixin icon--retina-view-next-2x{ width:calc(32px
  / 2); height:calc(18px
  / 2); background-position: calc(-232px
  / 2) calc(-302px
  / 2); }
  @mixin icon-view-next-gr-2x{ width:32px; height:18px; background-position:-269px
  -302px; } .icon-view-next-gr-2x{ @include icon-view-next-gr-2x; } @mixin icon--retina-view-next-gr-2x{ width:calc(32px
  / 2); height:calc(18px
  / 2); background-position: calc(-269px
  / 2) calc(-302px
  / 2); }
  @mixin icon-view-next-gr{ width:16px; height:9px; background-position:-120px
  -278px; } .icon-view-next-gr{ @include icon-view-next-gr; } @mixin icon--retina-view-next-gr{ width:calc(16px
  / 2); height:calc(9px
  / 2); background-position: calc(-120px
  / 2) calc(-278px
  / 2); }
  @mixin icon-view-next{ width:16px; height:9px; background-position:-141px
  -278px; } .icon-view-next{ @include icon-view-next; } @mixin icon--retina-view-next{ width:calc(16px
  / 2); height:calc(9px
  / 2); background-position: calc(-141px
  / 2) calc(-278px
  / 2); }
  @mixin icon-view-prev-2x{ width:32px; height:18px; background-position:-306px
  -302px; } .icon-view-prev-2x{ @include icon-view-prev-2x; } @mixin icon--retina-view-prev-2x{ width:calc(32px
  / 2); height:calc(18px
  / 2); background-position: calc(-306px
  / 2) calc(-302px
  / 2); }
  @mixin icon-view-prev-gr-2x{ width:32px; height:18px; background-position:-343px
  -302px; } .icon-view-prev-gr-2x{ @include icon-view-prev-gr-2x; } @mixin icon--retina-view-prev-gr-2x{ width:calc(32px
  / 2); height:calc(18px
  / 2); background-position: calc(-343px
  / 2) calc(-302px
  / 2); }
  @mixin icon-view-prev-gr{ width:16px; height:9px; background-position:-162px
  -278px; } .icon-view-prev-gr{ @include icon-view-prev-gr; } @mixin icon--retina-view-prev-gr{ width:calc(16px
  / 2); height:calc(9px
  / 2); background-position: calc(-162px
  / 2) calc(-278px
  / 2); }
  @mixin icon-view-prev{ width:16px; height:9px; background-position:-183px
  -278px; } .icon-view-prev{ @include icon-view-prev; } @mixin icon--retina-view-prev{ width:calc(16px
  / 2); height:calc(9px
  / 2); background-position: calc(-183px
  / 2) calc(-278px
  / 2); }
