/**
 * ==============================+
 * modal
 * ==============================+
 */

.modal {
  position: fixed;
  width: 95%;
  max-width: 680px;
  top: 50%;
  left: 50%;
  z-index: 1010;
  background-color: $white;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  color: $blueGray;
  @include transform(translate(-50%, -50%));

  .modal-header {
    background-color: $navy;
    height: 60px;
    padding: 0 20px;

    h4 {
      font-size: 2rem;
      color: $white;
    }
  }

  .modal-body {
    padding: 20px 20px 60px 20px;
    max-height: -webkit-calc(97vh - 60px);
    max-height: -moz-calc(97vh - 60px);
    max-height: calc(97vh - 60px);

    @include _bp(821px) {
      padding: 20px 20px 60px 20px;
      max-height: -webkit-calc(88vh - 60px);
      max-height: -moz-calc(88vh - 60px);
      max-height: calc(88vh - 60px);
    }

    @include _bp_landscape(1024px) {
      max-height: -webkit-calc(70vh - 60px);
      max-height: -moz-calc(70vh - 60px);
      max-height: calc(70vh - 60px);
    }
  }

  .modal-contents {
    & + .btn-wrap {
      margin-top: 40px;

      @include _bp(480px) {
        margin-top: 30px;
      }
    }
  }

  &#modal-partnersInfo {
    .modal-body {
      .top {
        .symbol {
          text-align: center;
          background-color: $softGray;
          height: 175px;

          img {
            mix-blend-mode: multiply;
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));
          }
        }

        .info {
          dl {
            dt {
              font-size: 2.4rem;
              color: $navy;
              text-align: left;
            }

            dd {
              margin-top: 20px;
            }
          }
        }
      }
    }

    .modal-contents {
      margin-top: 30px;

      h5 {
        line-height: 44px;
        background-color: #f5f5f5;
        font-size: 1.8rem;
        color: $navy;
        padding: 0 10px;

        a {
          &::after {
            @include icon;
            @include icon-view-next-gr;
            @include transition(transform 0.3s ease-out);
            content: '';

            @include _bp(821px) {
              @include icon--retina;
              @include icon--retina-view-next-gr-2x;
            }
          }

          &.on {
            &::after {
              @include transform(rotateX(180deg));
            }
          }
        }
      }

      .txt-info {
        font-size: 1.6rem;
        color: #505363;
        overflow: hidden;

        &.hidden {
          height: 0;
        }

        &.clip {
          padding: 15px 10px;

          > div {
            padding: 0;
          }
        }

        > div {
          padding: 15px 10px;
        }

        dl {
          dt {
            color: $gray3;

            a {
              &::after {
                @include icon;
                @include icon-view-next-gr;
                @include transition(transform 0.3s ease-out);
                margin-top: 2px;
                content: '';

                @include _bp(821px) {
                  @include icon--retina;
                  @include icon--retina-view-next-gr-2x;
                }
              }

              &.on {
                &::after {
                  @include transform(rotateX(180deg));
                }
              }
            }
          }
          dd {
            &.hidden {
              height: 0;
              overflow: hidden;
            }

            > div {
              margin-top: 10px;
              border: 1px solid #cccccc;
            }

            ul {
              padding: 20px;
            }

            .chk-wrap {
              background-color: #f5f5f5;
              padding: 15px 10px;

              em {
                color: $gray3;
                font-size: 1.6rem;
              }
            }
          }
          & + dl {
            margin-top: 20px;
          }
        }
      }

      .txt-write {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 3px solid $navy;

        dl {
          @include display-flex;

          @include _bp(680px) {
            flex-direction: column;
            -ms-flex-direction: column;
          }

          dt {
            width: 85px;
            font-size: 1.6rem;
            color: $navy;
            font-weight: 600;
          }

          dd {
            width: -webkit-calc(100% - 85px);
            width: -moz-calc(100% - 85px);
            width: calc(100% - 85px);

            @include _bp(680px) {
              width: 100%;
            }

            &.tel {
              grid-template-columns: 1fr 25px 1fr 25px 1fr;
              @include align-items('center');
              text-align: center;
            }

            &.email {
              grid-template-columns: 1fr 25px 1fr 10px 1fr;
              @include align-items('center');
              text-align: center;

              .nice-select {
                @include _bp(680px) {
                  width: 100%;
                  min-width: auto;
                }
              }
            }
          }

          & + dl {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &#modal-sendMail {
    .modal-contents {
      dl {
        @include _bp(480px) {
          flex-direction: column;
          -ms-flex-direction: column;
        }

        dt {
          width: 80px;
          color: $navy;
          font-size: 1.6rem;
          line-height: 1.8;

          @include _bp(480px) {
            width: 100%;
          }

          label {
            display: inline-block;
            line-height: 1;
            vertical-align: baseline;
            font-weight: 700;
          }
        }
        dd {
          width: -webkit-calc(100% - 80px);
          width: -moz-calc(100% - 80px);
          width: calc(100% - 80px);

          @include _bp(480px) {
            width: 100%;
            margin-top: 5px;
          }
        }

        & + dl {
          margin-top: 20px;

          @include _bp(480px) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.dimmed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;
}
