<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'구인정보 | 구인&middot;구직' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="job">
        <h1 class="hidden-txt">구인&middot;구직</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">구인&middot;구직</strong><br />
              <span class="txt-scd-r">MICE 산업은 여러분이 꼭 필요해요!</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><em>구인&middot;구직</em></span>
                <span><a href="./list.html">구직정보</a></span>
                <span><em>상세</em></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <div class="cts-body">
              <header class="view--head">
                <h3>
                  <span>
                    사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                  </span>
                </h3>

                <figure class="flex-wrap center">
                  <img src="../assets/images/sample/profile.jpg" alt="프로필 사진">
                </figure>

                <div class="profile">
                  <h5>상세정보</h5>
                  <dl>
                    <dt>회사명</dt>
                    <dd>메씨인터내셔날</dd>
                  </dl>
                  <dl>
                    <dt>채용구분</dt>
                    <dd>진행요원</dd>
                  </dl>
                  <dl>
                    <dt>근무형태</dt>
                    <dd>파견직</dd>
                  </dl>
                  <dl>
                    <dt>채용기간</dt>
                    <dd>2022-06-15 ~ 2022-06-20</dd>
                  </dl>
                </div>
              </header>
              <div class="view--body">
                <div class="view--contents">
                  <div class="view--profile">
                    <dl>
                      <dt><b>활동분야</b></dt>
                      <dd>기획&middot;운영, 뷰로&middot;·센터, 진행요원</dd>
                    </dl>
                    <dl>
                      <dt><b>경력 유&middot;무</b></dt>
                      <dd>경력자</dd>
                    </dl>
                    <dl>
                      <dt><b>희망근무지</b></dt>
                      <dd>전국</dd>
                    </dl>
                    <dl>
                      <dt><b>자격증</b></dt>
                      <dd>2013 HSK 6급 자격증 취득, TOEIC 950점</dd>
                    </dl>
                    <dl>
                      <dt><b>외국어</b></dt>
                      <dd>영어 상, 중국어 상, 스페인어 하</dd>
                    </dl>
                    <dl>
                      <dt><b>최종학력</b></dt>
                      <dd>대&middot;재학중</dd>
                    </dl>
                    <dl>
                      <dt><b>학력소개</b></dt>
                      <dd>한국대학교 관광경영학과 졸업 &#47; 2020년 &#47; 4년제</dd>
                    </dl>
                    <dl>
                      <dt><b>경력사항</b></dt>
                      <dd>
                        <div class="tblStyle">
                          <table>
                            <colgroup>
                              <col style="width:auto;"/>
                              <col style="width:30%;"/>
                              <col style="width:20%;"/>
                              <col style="width:20%;"/>
                            </colgroup>
                            <caption>경력사항(기간, 프로젝트명, 담당직무, 소속회사로 구성된 표)</caption>
                            <thead>
                              <tr>
                                <th scope="col">기간</th>
                                <th scope="col">프로젝트명</th>
                                <th scope="col">담당직무</th>
                                <th scope="col">소속회사</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>2023.05.01 ~ 2023.12.31</td>
                                <td>서울ODA국제회의</td>
                                <td>운영요원</td>
                                <td>MICE</td>
                              </tr>
                              <tr>
                                <td>2023.05.01 ~ 2023.12.31</td>
                                <td>서울ODA국제회의</td>
                                <td>운영요원</td>
                                <td>MICE</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </dd>
                    </dl>
                    <dl>
                      <dt><b>자기소개</b></dt>
                      <dd>
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지
                        안녕하세요 저는 홍길동이라고 합니다. 이 업무를 지원하게되어 굉장히 기쁩니다. 안녕하세요 저는 홍길동이라고 합니다. 
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="attachedFile">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <span><a href="#" download>모집공고.hwp</a></span>
                    <span><a href="#" download>이력서 양식.hwp</a></span>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="cts-nav">
              <div class="pc-only">
                <dl class="go-prev">
                  <dt><a href="">이전 글</a></dt>
                  <dd><a href=""><b>대전마케팅공사</b> 2022년 하반기 대전마케팅공사 일반직(정규직) 공개채용 공고</a></dd>
                </dl>
                <dl class="go-next">
                  <dt><a href="">다음 글</a></dt>
                  <dd><a href=""><b>한국PCO협회</b> 2022년 하반기 정규직 공개채용 모집공고</a></dd>
                </dl>
              </div>

              <div class="mob-only clear">
                <div class="bx-left">
                  <button type="button" class="go-prev"><em>이전 글</em></button>
                </div>
                <div class="bx-right">
                  <button type="button" class="go-next"><em>다음 글</em></button>
                </div>
              </div>
            </div>
           <div class="btn-wrap align-c">
              <button type="button" class="btn-view lg border rounded txt-color blueGray"><em>목록보기</em></button>
              <button type="button" class="btn-modify lg bg-blueGray rounded"><em>수정하기</em></button>
              <button type="button" class="btn-delete lg bg-navy2 rounded"><em>삭제하기</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
