<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'구인정보 | 구인&middot;구직' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="job">
        <h1 class="hidden-txt">구인&middot;구직</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">구인&middot;구직</strong><br />
              <span class="txt-scd-r">MICE 산업은 여러분이 꼭 필요해요!</span>
            </h2>
          </div>
        </section>
        <section class="contents list info">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><em>구인&middot;구직</em></span>
                <span><em>구직정보</em></span>
                <span><em>등록</em></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <p class="description align-r">필수 입력 정보입니다.</p>
            <div class="form-wrap">
              <div class="grid-wrap">
                <dl class="flex-wrap">
                  <dt><b>활동분야</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd class="flex-wrap">
                    <div class="chk-wrap">
                      <span>
                        <input type="checkbox" name="" id="a1">
                        <label for="a1"><em>기획&middot;운영</em></label>
                      </span>
                      <span>
                        <input type="checkbox" name="" id="a2">
                        <label for="a2"><em>뷰로&middot;센터</em></label>
                      </span>
                      <span>
                        <input type="checkbox" name="" id="a3">
                        <label for="a3"><em>진행요원</em></label>
                      </span>
                      <span>
                        <input type="checkbox" name="" id="a4">
                        <label for="a4"><em>지역 서포터즈</em></label>
                      </span>
                    </div>
                    <p class="description2">※ 중복선택 가능</p>
                  </dd>
                </dl>
              </div>
              <div class="grid-wrap col-2 gap40_15 start">
                <dl class="flex-wrap start">
                  <dt><b>사진</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="file-attach-image flex-wrap end">
                      <div class="thumbNail flex-wrap">
                        <img src="../assets/images/default.jpg" alt="">
                      </div>
                      <div class="flex-wrap column start">
                        <span class="file-wrap">
                          <label for="file-img"><em>파일선택</em></label>
                          <input
                            class="hidden-txt"
                            type="file"
                            id="file-img"
                            title="파일 첨부"
                            onchange="gb.CommonFunction.fileUpload(this, 'image');"
                          />
                        </span>
                        <span class="description2">※ jpg, png 파일만 등록 가능합니다.</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>이름</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <input type="text" />
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>생년월일</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap calendar">
                      <input type="text" autocomplete="off" inputmode="none" />
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>연락처</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <input type="text" />
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>이메일</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <input type="text" />
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>최종학력</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="select-wrap wide">
                      <select name="" id="" class="wide">
                        <option value="" disabled selected>선택</option>
                        <option value="">고졸</option>
                        <option value="">초대졸</option>
                        <option value="">대졸</option>
                        <option value="">석박사</option>
                        <option value="">고&middot;재학중</option>
                        <option value="">대&middot;재학중</option>
                      </select>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>학력소개</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <input type="text" placeholder="50자 이내 (예 :  한국대학교 관광경영학과 졸업 / 2020년 / 4년제)"/>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>경력유&middot;무</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="select-wrap wide">
                      <select name="" id="career" class="wide">
                        <option value="" disabled selected>선택</option>
                        <option value="newcommer">신입</option>
                        <option value="staff">운영요원 활동</option>
                        <option value="career">경력</option>
                      </select>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="grid-wrap hidden" data-hidden-wrapper="career">
                <dl class="flex-wrap start">
                  <dt><b>경력사항</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="career">
                      <ul>
                        <li>
                          <div class="grid-wrap col-2 gap40_15">
                            <dl class="flex-wrap">
                              <dt><b>기간</b></dt>
                              <dd>
                                <div class="double">
                                  <span class="text-wrap calendar"><input type="text" autocomplete="off" inputmode="none" /></span>
                                  <span class="text-wrap calendar"><input type="text" autocomplete="off" inputmode="none"/></span>
                                </div>
                              </dd>
                            </dl>
                            <dl class="flex-wrap">
                              <dt><b>프로젝트명</b></dt>
                              <dd>
                                <div class="text-wrap">
                                  <input type="text" placeholder="최대 30자" />
                                </div>
                              </dd>
                            </dl>
                            <dl class="flex-wrap">
                              <dt><b>담당직무</b></dt>
                              <dd>
                                <div class="text-wrap">
                                  <input type="text" placeholder="최대 10자" />
                                </div>
                              </dd>
                            </dl>
                            <dl class="flex-wrap">
                              <dt><b>소속회사</b></dt>
                              <dd>
                                <div class="text-wrap">
                                  <input type="text" placeholder="최대 10자" />
                                </div>
                              </dd>
                            </dl>
                          </div>
                          <div class="btn-wrap align-c">
                            <button type="button" class="btn-delete bg-blueGray md rounded2 hidden" onclick="removeCareerForm(this)"><em>삭제</em></button>
                          </div>
                        </li>
                      </ul>
                      <p>※ 빈 내용없이 모두 작성해 주시고,  해당내용을 모를경우 모름으로  입력해주세요.</p>
                      <div class="btn-wrap align-c">
                        <button type="button" class="btn-add bg-gray6 md rounded2" onclick="addCareerForm()"><em>추가</em></button>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="grid-wrap gap40_15">
                <dl class="flex-wrap">
                  <dt><b>희망 근무지</b></dt>
                  <dd>
                    <div class="radio-wrap">
                      <span>
                        <input type="radio" name="place" id="nationwide" checked>
                        <label for="nationwide"><em>전국</em></label>
                      </span>
                      <span>
                        <input type="radio" name="place" id="region"/ >
                        <label for="region"><em>지역선택</em></label>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap hidden" data-hidden-wrapper="region">
                  <dt><b class="hidden-txt">지역선택</b></dt>
                  <dd>
                    <div class="address">
                      <dl class="flex-wrap start">
                        <dt><b>주소</b></dt>
                        <dd>
                          <div class="grid-wrap inline gap-none">
                            <div class="list">
                              <div class="flex-wrap">
                                <div class="grid-wrap col-2 double">
                                  <div class="select-wrap wide">
                                    <select name="" id="address1-1" class="wide">
                                      <option value="" disabled selected>시&#47;군&#47;구</option>
                                      <option value="">서울특별시</option>
                                    </select>
                                  </div>
                                  <div class="select-wrap wide">
                                    <select name="" id="address2-2" class="wide">
                                      <option value="" disabled selected>읍&#47;면&#47;동</option>
                                      <option value="">논현동</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="btn-wrap inline">
                                  <button type="button" class="btn-delete bg-blueGray md rounded2 hidden" onclick="removeAddressForm(this);"><em>삭제</em></button>
                                </div>
                              </div>
                            </div>
                            <div class="btn-wrap inline">
                              <button type="button" class="btn-add bg-gray6 md rounded2" onclick="addAddressForm();"><em>추가</em></button>
                            </div>
                          </div>
                        </dd>
                      </dl>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="grid-wrap gap40_15">
                <dl class="flex-wrap start">
                  <dt><b>외국어</b></dt>
                  <dd class="skill-grade">
                    <div class="grid-wrap inline gap-none">
                      <div class="list">
                        <div class="flex-wrap">
                          <div class="grid-wrap col-2 double">
                            <div class="select-wrap wide">
                              <select name="" id="language" class="wide">
                                <option value="" disabled selected>언어선택</option>
                                <option value="">영어</option>
                                <option value="">중국어</option>
                                <option value="">일본어</option>
                                <option value="">독일어</option>
                                <option value="">스페인어</option>
                              </select>
                            </div>
                            <div class="select-wrap wide">
                              <select name="" id="grade" class="wide">
                                <option value="" disabled selected>레벨</option>
                                <option value="">상</option>
                                <option value="">중</option>
                                <option value="">하</option>
                              </select>
                            </div>
                          </div>
                          <div class="btn-wrap inline">
                            <button type="button" class="btn-delete bg-blueGray md rounded2 hidden" onclick="removeSkillForm(this);"><em>삭제</em></button>
                          </div>
                        </div>
                      </div>
                      <div class="btn-wrap inline">
                        <button type="button" class="btn-add bg-gray6 md rounded2" onclick="addSkillForm();"><em>추가</em></button>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap start">
                  <dt><b>자격증</b></dt>
                  <dd class="certificate">
                    <div class="grid-wrap gap-none">
                      <div class="list">
                        <div class="flex-wrap">
                          <div class="text-wrap">
                            <input type="text" placeholder="어학 증명서, 자격증이 있을 경우 입력 부탁드립니다. (최대 40자)" />
                          </div>
                          <div class="btn-wrap inline">
                            <button type="button" class="btn-delete bg-blueGray md rounded2 hidden" onclick="removeCertForm(this);"><em>삭제</em></button>
                          </div>
                        </div>
                      </div>
                      <div class="btn-wrap inline">
                        <button type="button" class="btn-add bg-gray6 md rounded2 " onclick="addCertForm();"><em>추가</em></button>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>한줄<br/>자기소개</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <input type="text" placeholder="최대 40자"/>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap start">
                  <dt><b>자기소개</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="text-wrap">
                      <textarea name="" id="" cols="30" rows="10" placeholder="최대 500자"></textarea>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap start">
                  <dt><b>첨부파일</b></dt>
                  <dd>
                    <ul class="file-attach-list">
                      <li>
                        <div class="file-attach">
                          <span class="text-wrap">
                            <input type="text" class="fileName" title="파일명 및 확장자" disabled />
                          </span>
                          <span class="file-wrap">
                            <label for="file-01"><em>파일선택</em></label>
                            <input
                              class="hidden-txt"
                              type="file"
                              id="file-01"
                              title="파일 첨부"
                              onchange="gb.CommonFunction.fileUpload(this);"
                            />
                          </span>
                          <span class="btn-wrap inline">
                            <button type="button" class="btn-delete bg-blueGray md rounded2 hidden" onclick="removeFile(this);"><em>파일삭제</em></button>
                          </span>
                        </div>
                      </li>
                    </ul>
                    <div class="btn-wrap flex-wrap edge start">
                      <span class="description2">※ pdf, ppt, doc, hwp, txt, zip 파일만 등록 가능</span>
                      <button type="button" class="btn-add bg-gray6 md rounded2" onclick="addFileList();"><em>파일추가</em></button>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b>공개여부</b><span class="est"><em class="hidden-txt">필수</em></span></dt>
                  <dd>
                    <div class="radio-wrap">
                      <span>
                        <input type="radio" name="visible_" id="hidden">
                        <label for="hidden"><em>비공개</em></label>
                      </span>
                      <span>
                        <input type="radio" name="visible_" id="visible" checked />
                        <label for="visible"><em>공개</em></label>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="flex-wrap">
                  <dt><b class="hidden-txt">개인정보동의서 약관</b></dt>
                  <dd>
                    <div class="privacyTerms">
                      <ul>
                        <li class="flex-wrap start">수집항목 : 성명, 전화번호, 이메일</li>
                        <li class="flex-wrap start">수집목적 : 회원사 문의 시 연락 정보 공유</li>
                        <li class="flex-wrap start">보유 및 이용기간 : 정보주체가 한국MICE협회가 제공하는 서비스를 이용하는 기간 동안</li>
                        <li class="flex-wrap start">신청인은 개인정보보호법에 따라 동의를 거부할 수 있으며, 이 경우 서비스 이용에 제약이 있습니다.</li>
                      </ul>
                      <div class="flex-wrap edge">
                        <p>※ 개인정보 수집 및 이용에 동의하십니까?</p>
                        <div class="chk-wrap">
                          <span>
                            <input type="checkbox" id="privacyCheck" />
                            <label for="privacyCheck"><em>네, 동의합니다.</em></label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="btn-wrap align-c">
              <button type="button" class="btn-cancel md2 border rounded txt-color blueGray"><em>취소</em></button>
              <button type="button" class="btn-register md2 bg-blueGray rounded"><em>등록</em></button>
              <!-- <button type="button" class="btn-register md2 bg-blueGray rounded"><em>수정</em></button> -->
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>

    @@include('../include/script.html')
  </body>
</html>
