<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'협력업체' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="partners">
        <h1 class="hidden-txt">협력업체</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">협력업체</strong><br />
              <span class="txt-scd-r">MICE의 협력업체 목록을 함께보아요.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><em>협력업체</em></span>
                <span><em>목록</em></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <header>
              <div class="chk-wrap-type02 hashTag auto">
                <span>
                   <input type="checkbox" name="chk_all" id="chk_all" value="">
                   <label for="chk_all"><em>전체</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_a" id="chk_a" value="">
                   <label for="chk_a"><em>컨벤션</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_b" id="chk_b" value="" checked="">
                   <label for="chk_b"><em>보안</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_c" id="chk_c" value="">
                   <label for="chk_c"><em>마케팅</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_d" id="chk_d" value="" checked="">
                   <label for="chk_d"><em>통역</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_e" id="chk_e" value="">
                   <label for="chk_e"><em>대관</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_f" id="chk_f" value="">
                   <label for="chk_f"><em>조명</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_g" id="chk_g" value="">
                   <label for="chk_g"><em>식사</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_h" id="chk_h" value="">
                   <label for="chk_h"><em>기념품</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_i" id="chk_i" value="">
                   <label for="chk_i"><em>음향</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_j" id="chk_j" value="">
                   <label for="chk_j"><em>카메라</em></label>
                </span>
              </div>
              <div class="select-wrap block">
                <label for="filter_partners"><em class="hidden-txt">기관별 보기</em></label>
                <select name="" id="filter_partners">
                  <option value="" disabled selected>기관별 보기</option>
                  <option value="">test1</option>
                  <option value="">test2</option>
                  <option value="">test3</option>
                </select>
              </div>
            </header>

            <article>
              <header class="hidden-txt">
                <h3>협력업체목록</h3>
              </header>
              <div class="list">
                <ul class="grid-wrap col-4">
                  @@for(var i = 1; i < 9; i++){
                  <li class="grid-item">
                    <div class="bx-img button-active-modal" data-modal-name="partnersInfo" tabindex="0">
                      <img src="../assets/images/sample/partners-list-thumb-0`+i+`.jpg" alt="협력업체 로고`+i+`" />
                    </div>
                    <div class="bx-txt">
                      <strong>㈜메씨인터내셔날 (MECI)</strong>
                    </div>
                    <div class="bx-etc">
                      <dl class="flex-wrap start">
                        <dt>주요업무</dt>
                        <dd>
                          <div class="txt-line-clamp2">
                            보안&#47;통역&#47;조명&#47;음향&#47;카메라&#47;네트워크&#47;숙소&#47;식사&#47;인쇄&#47;기념품
                            보안&#47;통역&#47;조명&#47;음향&#47;카메라&#47;네트워크&#47;숙소&#47;식사&#47;인쇄&#47;기념품
                          </div>
                        </dd>
                      </dl>
                      <dl class="flex-wrap">
                        <dt>대표이사</dt>
                        <dd>김분희</dd>
                      </dl>
                      <dl class="flex-wrap">
                        <dt>전화번호</dt>
                        <dd>02-6288-6300</dd>
                      </dl>
                      <dl class="flex-wrap">
                        <dt>홈페이지</dt>
                        <dd class="txt-color skyblue">www.meci.co.kr</dd>
                      </dl>
                    </div>
                  </li>
                  }
                </ul>
              </div>
            </article>
            
            <div class="paging pc-only">
              <a href="#" class="first disable"><em class="hidden-txt">첫 페이지</em></a>
              <a href="#" class="prev disable"><em class="hidden-txt">이전 페이지</em></a>
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
              <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
            </div>

            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>1</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->

      <!-- 모달 -->
      <!-- 기업정보 -->
      @@include('../include/modal-partnersInfo.html')
    </div>
  </body>
</html>
