<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'MICE PRO 인재 신청 | 채용마당' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="employment">
        <h1 class="hidden-txt">MICE PRO 인재 신청</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">employment</strong><br />
              <span class="txt-scd-r">MICE 산업은 여러분이 꼭 필요해요!</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><a href="">채용마당</a></span>
                <span><a href="">MICE PRO 인재 신청</a></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <div class="cts-body">
              <header class="view--head">
                <div class="notice"><em class="hidden-txt">공지</em></div>
                <h3>
                  <strong>
                    MICE PRO 인재 설명 및 신청 방법 
                  </strong>
                </h3>
                <dl>
                  <dt>작성자</dt>
                  <dd>한국PCO협회</dd>
                  <dt>등록일</dt>
                  <dd>2022-07-01</dd>
                </dl>
              </header>
              <div class="view--body">
                <div class="view--contents pre-line"><!-- 내용 -->예) 목적 
                  PCO협회 인증을 통해 신뢰 할 수 있는 MICE산업 인력 공급 
                   
                  예) 조건
                  1. 관련 학과 졸업자
                  2. 관련 자격증 보유자
                  3. 해당 분야 경력자
                  위의 3개 중 하나 이상 해당 
                  
                  예) 등록방법
                  이력서 양식을 다운 받아서 MICE PRO 신청 게시판에 업로드
                   
                  예) 절차
                  이력서 등록 > 검토(약 1주일 소요) > 결제 > 인재정보 게시판에 등록 
                  
                  예) 문의처
                  대표번호 : 02-6365-2020 / 이메일 : kapco@kapco.or.kr</div>
              </div>
              <div class="attachedFile">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <span><a href="#" download>MICE PRO 인재 신청 이력서 양식 .hwp</a></span>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="cts-nav">
              <div class="pc-only">
                <dl class="go-prev">
                  <dt><a href="">이전 글</a></dt>
                  <dd><a href=""><b>대전마케팅공사</b> 2022년 하반기 대전마케팅공사 일반직(정규직) 공개채용 공고</a></dd>
                </dl>
                <dl class="go-next">
                  <dt><a href="">다음 글</a></dt>
                  <dd><a href=""><b>한국PCO협회</b> 2022년 하반기 정규직 공개채용 모집공고</a></dd>
                </dl>
              </div>

              <div class="mob-only clear">
                <div class="bx-left">
                  <button type="button" class="go-prev"><em>이전 글</em></button>
                </div>
                <div class="bx-right">
                  <button type="button" class="go-next"><em>다음 글</em></button>
                </div>
              </div>
            </div>
            <div class="btn-wrap cl align-c">
              <button type="button" class="btn-view border rounded"><em>목록보기</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
