<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'TOP 인재 | 채용마당' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="employment">
        <h1 class="hidden-txt">TOP 인재</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">employment</strong><br />
              <span class="txt-scd-r">MICE 산업은 여러분이 꼭 필요해요!</span>
            </h2>
          </div>
        </section>
        <section class="contents top list">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><a href="">채용마당</a></span>
                <span><a href="">TOP 인재</a></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="tab-menu">
            <div class="inner-wrap">
              <ul class="grid-wrap col-4-2 gap-none">
                <li class="grid-item"><a href="#">채용정보</a></li>
                <li class="grid-item"><a href="#">인재정보</a></li>
                <li class="grid-item"><a href="#">MICE PRO 인재 신청</a></li>
                <li class="grid-item"><a href="#" class="current">TOP 인재</a></li>
              </ul>
            </div>
          </div>
          <div class="inner-wrap">
            <div class="mid-bnr">
              <strong class="tit">TOP 인재정보 신청방법</strong>
              <span><a href="#">안내 페이지</a></span>
            </div>
            <article>
              <header class="hidden-txt">
                <h3>TOP 인재 목록</h3>
              </header>
              <div class="list">
                <ul class="grid-wrap col-2">
                  @@for(var i = 0; i < 8; i++){
                  <li class="grid-item">
                    <a href="">
                      <div class="info">
                        <dl>
                          <dt><b>김○○</b></dt>
                          <dd><span>남</span><span>40세</span></dd>
                        </dl>
                        <p>
                          사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                          사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                          사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                          사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                          사업기획, 운영 대 중국 비즈니스 전문성을 갖춘 채용 희망자 입니다.
                        </p>
                      </div>
                      <div class="careers">
                        <dl>
                          <dt><b>경력</b></dt>
                          <dd>15년</dd>
                        </dl>
                        <dl>
                          <dt><b>학력</b></dt>
                          <dd>대졸</dd>
                        </dl>
                        <dl>
                          <dt><b>직무</b></dt>
                          <dd>중국 영업, 마케팅</dd>
                        </dl>
                      </div>
                    </a>
                  </li>
                  }
                </ul>
              </div>
            </article>
            <div class="paging pc-only">
              <a href="#" class="first disable"><em class="hidden-txt">첫 페이지</em></a>
              <a href="#" class="prev disable"><em class="hidden-txt">이전 페이지</em></a>
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
              <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
            </div>
  
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>1</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
