<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'입찰 정보' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="notice">
        <h1 class="hidden-txt">입찰정보</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">입찰정보</strong><br />
              <span class="txt-scd-r">MICE 산업 입찰정보를 확인해 주세요.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><a href="./list.html">입찰정보</a></span>
                <span><em>상세</em></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <div class="cts-body">
              <header class="view--head">
                <div class="caption"><em>입찰정보</em></div>
                <h3>
                  <span>공고명</span>
                </h3>
                <dl>
                  <dt>등록일</dt>
                  <dd>2023-04-01</dd>
                  <dt>조회수</dt>
                  <dd>25</dd>
                </dl>
              </header>
              <div class="view--body">
                <div class="view--contents">
                  <!-- 내용 -->
                  <p>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보<br/>
                    입찰정보 입찰정보 입찰정보 입찰정보 입찰정보 입찰정보
                  </p>
                </div>
              </div>
              <div class="attachedFile">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <span><a href="#" download>디렉토리 북.pdf</a></span>
                    <span><a href="#" download>디렉토리 북 한글.hwp</a></span>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="cts-nav">
              <div class="pc-only">
                <dl class="go-prev">
                  <dt><a href="">이전 글</a></dt>
                  <dd><a href="">국제회의기획업 디렉토리북 발행</a></dd>
                </dl>
                <dl class="go-next">
                  <dt><a href="">다음 글</a></dt>
                  <dd><a href="">국제회의기획업 디렉토리북 발행</a></dd>
                </dl>
              </div>

              <div class="mob-only clear">
                <div class="bx-left">
                  <button type="button" class="go-prev"><em>이전 글</em></button>
                </div>
                <div class="bx-right">
                  <button type="button" class="go-next"><em>다음 글</em></button>
                </div>
              </div>
            </div>
            <div class="btn-wrap cl align-c">
              <button type="button" class="btn-view lg border rounded txt-color blueGray" onclick="location.href='./list.html'"><em>목록보기</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
