<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'입찰 정보' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="bidding">
        <h1 class="hidden-txt">입찰정보</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">입찰정보</strong><br />
              <span class="txt-scd-r">MICE 산업 입찰정보를 확인해 주세요.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><em>입찰정보</em></span>
                <span><em>목록</em></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <header>
              <div class="chk-wrap-type02 hashTag">
                <span>
                   <input type="checkbox" name="chk_all" id="chk_all" value="" checked="">
                   <label for="chk_all"><em>전체</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_a" id="chk_a" value="">
                   <label for="chk_a"><em>사전규격</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_b" id="chk_b" value="">
                   <label for="chk_b"><em>컨벤션</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_c" id="chk_c" value="">
                   <label for="chk_c"><em>전시</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_d" id="chk_d" value="">
                   <label for="chk_d"><em>이벤트</em></label>
                </span>
                <span>
                   <input type="checkbox" name="chk_filter_e" id="chk_e" value="">
                   <label for="chk_e"><em>기타</em></label>
                </span>
              </div>
              <div class="select-wrap block">
                <select name="" id="">
                  <option value="" disabled selected>기관별 보기</option>
                  <option value="">test1</option>
                  <option value="">test2</option>
                  <option value="">test3</option>
                </select>
              </div>
            </header>

            <!-- pc -->
            <div class="tblStyle pc-only">
              <table>
                <caption>
                  입찰 정보(NO, 현황, 구분, 공고명, 공고기간, 등록일, 조회수로 구성된 표)
                </caption>
                <colgroup>
                  <col style="width: 6%" />
                  <col style="width: 8%" />
                  <col style="width: 8%" />
                  <col style="width: auto" />
                  <col style="width: 20%" />
                  <col style="width: 12%" />
                  <col style="width: 10%" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">현황</th>
                    <th scope="col">구분</th>
                    <th scope="col">공고명</th>
                    <th scope="col">공고기간</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회수</th>
                  </tr>
                </thead>
                <tbody>
                  @@for(var i=5; i > 0; i--){
                  <tr>
                    <td><span>${i}</span></td>
                    <td><span>공고중</span></td>
                    <td><span>컨벤션</span></td>
                    <td class="tit">
                      <b>
                        <a href="./detail.html">공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명공고명</a>
                      </b>
                    </td>
                    <td><span>2023.05.01~2023.12.31</span></td>
                    <td><span>2023-04-01</span></td>
                    <td><span>25</span></td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
            
            <!-- mobile -->
            <div class="tblStyle mob-only">
              <ul>
                @@for(var i=5; i > 0; i--){
                <li>
                  <a href="./detail.html">
                    <div class="tit">
                      <b>공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명 공고명공고명</b>
                    </div>
                    <dl>
                      <dt>현황</dt>
                      <dd>공고중</dd>
                      <dt>구분</dt>
                      <dd>컨벤션</dd>
                      <dt>조회수</dt>
                      <dd>25</dd>
                    </dl>
                    <dl>
                      <dt>공고기간</dt>
                      <dd>2023.05.01 ~ 2023.12.31</dd>
                    </dl>
                    <dl>
                      <dt>등록일</dt>
                      <dd>2023-04-01</dd>
                    </dl>
                  </a>
                </li>
              }
              </ul>
            </div>

            <!-- pc -->
            <div class="paging pc-only">
              <a href="#" class="first disable"><em class="hidden-txt">첫 페이지</em></a>
              <a href="#" class="prev disable"><em class="hidden-txt">이전 페이지</em></a>
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
              <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
            </div>

            <!-- mobile -->
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>1</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
