<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'MICE뉴스' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="news">
        <h1 class="hidden-txt">MICE뉴스</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">communication</strong><br />
              <span class="txt-scd-r">MICE 산업의 새로운 소식을 알려드립니다.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><a href="./detail.html">MICE뉴스</a></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <div class="cts-body">
              <header class="view--head">
                <div class="caption"><em>SMA뉴스</em></div>
                <h3>
                  <strong>
                    서울에서 숙식하며 ‘찐’ 프랑스 
                    경험한다 ‘소피텔 앰배서더 서울’
                  </strong>
                </h3>
                <dl>
                  <dt>등록일</dt>
                  <dd>2022-08-19</dd>
                  <dt>조회수</dt>
                  <dd>25</dd>
                </dl>
                <div class="tooltip-wrap">
                  <button type="button" class="button-active-tooltip share"><em class="hidden-txt">공유하기</em></button>
                  <div class="tooltip right animate fast fadeInLeft">
                    <ul>
                      <li><a href="#" class="facebook"><em class="hidden-txt">페이스북 공유하기</em></a></li>
                      <li><a href="#" class="kakaotalk"><em class="hidden-txt">카카오 공유하기</em></a></li>
                      <li><a href="#" class="email"><em class="hidden-txt">이메일</em></a></li>
                      <li><a href="javascript:void(0);" onclick="gb.CommonFunction.copyUrl();" class="copyUrl"><em class="hidden-txt">url 공유하기</em></a></li>
                    </ul>
                    <button type="button" class="button-close-tooltip"><em class="hidden-txt">툴팁 닫기</em></button>
                  </div>
                </div>
              </header>
              <div class="view--body">
                <div class="view--contents">
                  <!-- 내용 -->
                  <p>
                    소피텔은 1964년 프랑스에서 처음 선보인, 첫 번째 인터내셔널 럭셔리 호텔 브랜드다. 소피텔 앰배서더 서울(송파구)은 아코르그룹의 최상급 럭셔리 호텔 브랜드다. 소피텔은 단순히 숙박 서비스에 주력하지 않는다. 숙박을 통해 모던 프렌치 스타일과 프랑스 삶의 방식인 ‘예술적인 삶(Art de Vivre)’ 등 프랑스의 문화를 전세계에 알려왔다. 슬로건을 ‘Live the French Way’ 로 내세운 것도 이 때문이다.
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    한국에서 가장 프랑스다운 감성과 문화를 선사하는 소피텔 앰배서더 서울의 수장은 조민숙 총지배인(사진)이다. 조 총지배인은 이비스 앰배서더 서울 강남, 이비스 앰배서더 스타일 명동, 노보텔 앰배서더 동대문 등의 오픈과 경영 실적을 연이어 성공궤도에 올려놓으면서 주목받았다. 일반적으로 글로벌 호텔의 총지배인이란 자리는 남성 혹은 외국인이 굳건히 버텨왔던 터라 ‘여성 총지배인’ 이라는 이름이 주는 무게감이 적지 않았다. 하지만 그는 세일즈 지배인으로 시작한 30여년의 호텔 경력과 다년간의 성공 경험을 통해 스스로 실력을 증명해 보였다.
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    이제 조 총지배인은 숙박 서비스를 중심으로 프랑스의 ‘찐 (진짜)문화’ 를 알리고 선도하는 데 모든 역량을 쏟아붓고 있다. 이번엔 어떤 밑그림을 그리고 있을까.
                  </p>
                  <p>&nbsp;</p>
                  <div>
                    <img src="../assets/images/sample/detail-view-sample-02.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="cts-nav">
              <div class="pc-only">
                <dl class="go-prev">
                  <dt><a href="">이전 글</a></dt>
                  <dd><a href=""><b>회원사 소식</b> 코엑스_증강현실 기술을 활용한 360° 공간마케팅툴, AR포털</a></dd>
                </dl>
                <dl class="go-next">
                  <dt><a href="">다음 글</a></dt>
                  <dd><a href=""><b>SCB뉴스</b> [MICE Trend] 2022년 6월 MICE 산업 동향 보고서</a></dd>
                </dl>
              </div>

              <div class="mob-only clear">
                <div class="bx-left">
                  <button type="button" class="go-prev"><em>이전 글</em></button>
                </div>
                <div class="bx-right">
                  <button type="button" class="go-next"><em>다음 글</em></button>
                </div>
              </div>
            </div>
            <div class="btn-wrap cl align-c">
              <button type="button" class="btn-view lg border rounded txt-color blueGray" onclick="location.href='./list.html'"><em>목록보기</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
