<!DOCTYPE html>
<html lang="ko" class="active">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'교육영상자료' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents" class="video">
        <h1 class="hidden-txt">교육영상자료</h1>

        <!-- 상단 배너 -->
        <section class="subTop">
          <div class="inner-wrap">
            <h2>
              <strong class="txt-scd-b">Information</strong><br />
              <span class="txt-scd-r">쉽고 재미있는 교육영상을 통해 MICE 산업을 알아 볼까요?</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="breadCrumb">
            <div class="inner-wrap clear">
              <div class="bx-left pc-only">
                <span>
                  <a href="../index.html">
                    <i class="icon icon-home">
                      <em class="hidden-txt">홈</em>
                    </i>
                  </a>
                </span>
                <span><a href="./detail.html">교육영상자료</a></span>
              </div>
              <div class="bx-right">
                <form action="">
                  <fieldset>
                    <legend>검색</legend>
                    <span>
                      <input type="text" name="" id="" placeholder="검색어를 입력해주세요." />
                      <button type="submit" class="button-search">
                        <em class="hidden-txt">검색</em></i>
                      </button>
                    </span>
                  </fieldset>
                </form>
              </div>
            </div>
          </nav>
          <div class="inner-wrap">
            <div class="cts-body"> 
              <div class="vdArea vd-stop">
                <video muted playsinline poster="../assets/images/sample/poster.jpg">
                  <source type="video/mp4" src="../assets/images/sample/video.mp4">
                </video>
                <button type="button" class="vd-active"><em class="hidden-txt">재생하기</em></button>
              </div>
              <div class="view--body">
                <header>
                  <h3>
                    <span>운영기획</span>
                    <strong>
                      뉴노멀 시대의 MICE 산업의 이해 – 1. MICE 산업 개요 및 현황 
                    </strong>
                  </h3>
                  <dl>
                    <dt>등록일</dt>
                    <dd>2022-08-19</dd>
                    <dt>조회수</dt>
                    <dd>25</dd>
                  </dl>
                </header>
                <div class="sns-list">
                  <ul>
                    <li>
                      <button type="button" class="like on"><em>456</em></button>
                      <!-- 좋아요 시 on 클래스 추가 -->
                    </li>
                    <li>
                      <div class="tooltip-wrap">
                        <button type="button" class="button-active-tooltip share"><em>공유하기</em></button>
                        <div class="tooltip animate fast fadeInUp">
                          <h5>
                            <strong>SNS 공유하기</strong>
                            <button type="button" class="button-close-tooltip"><em class="hidden-txt">툴팁 닫기</em></button>
                          </h5>
                          <ul>
                            <li><a href="#" class="facebook"><em class="hidden-txt">페이스북 공유하기</em></a></li>
                            <li><a href="#" class="kakaotalk"><em class="hidden-txt">카카오 공유하기</em></a></li>
                            <li><a href="#" class="email"><em class="hidden-txt">이메일</em></a></li>
                            <li><a href="javascript:void(0);" onclick="gb.CommonFunction.copyUrl();" class="copyUrl"><em class="hidden-txt">url 공유하기</em></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="view--contents">
                  <!-- 내용 -->
                  <p>1) MICE 산업의 이해</p>
                  <p>2) MICE 산업 현황</p>
                </div>
                <div class="attachedFile">
                  <dl>
                    <dt>교육자료</dt>
                    <dd>
                      <span><a href="#" download>MICE 산업 개요 및 현황 교재 .hwp</a></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <aside class="view--side">
                <button type="button" class="button-open-sideMenu"><em class="hidden-txt">관련동영상 목록</em></button>
                <article class="customedScroll">
                  <header>
                    <h3 class="txt-scd-b">관련 동영상</h3>
                  </header>
                  <div class="list">
                    <ul>
                      @@for(var i = 5; i < 13; i++){
                      <li>
                        <a href="./detail.html">
                          <div class="bx-img">
                            <img src="https://picsum.photos/296/164?random=`+i+`" alt="" />
                          </div>
                          <div class="bx-txt">
                            <dl>
                              <dt>전시기획</dt>
                              <dd>회의유치</dd>
                            </dl>
                          </div>
                          <div class="bx-etc">
                            <dl>
                              <dt>등록일</dt>
                              <dd>2022-08-19</dd>
                              <dt class="play"><em class="hidden-txt">조회수</em></dt>
                              <dd>235</dd>
                              <dt class="like"><em class="hidden-txt">좋아요</em></dt>
                              <dd>004</dd>
                            </dl>
                          </div>
                        </a>
                      </li>
                    }
                    </ul>
                  </div>
                </article>
              </aside>
            </div>
            <div class="cts-nav">
              <div class="pc-only">
                <dl class="go-prev">
                  <dt><a href="">이전 글</a></dt>
                  <dd><a href=""><b>공통교육</b> 회의 홍보 및 마케팅</a></dd>
                </dl>
                <dl class="go-next">
                  <dt><a href="">다음 글</a></dt>
                  <dd><a href=""><b>전시기획</b> 온라인 행사의 개념과 이해</a></dd>
                </dl>
              </div>

              <div class="mob-only clear">
                <div class="bx-left">
                  <button type="button" class="go-prev"><em>이전 글</em></button>
                </div>
                <div class="bx-right">
                  <button type="button" class="go-next"><em>다음 글</em></button>
                </div>
              </div>
            </div>
            <div class="btn-wrap cl align-c">
              <button type="button" class="btn-view border rounded" onclick="location.href='./list.html'"><em>목록보기</em></button>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
